*::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    border: 2px solid green;
    color: white;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 500px;
    margin-top: 10px;
    height: 90%;
    background-color: gainsboro;
    
}

aside {
    margin-left: 30%;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ad7a7a;
    height: 58rem;
    margin-top: auto;
}


/* section */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f4f4f4;
    height: 58rem;
}

section h2 {
    color: blue;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}
section h3 {
    margin-left: 10px;
}

section p{
    margin-left: 10px;
}

.competence {
    padding-top: 20px;
    box-shadow: 1px 1px 1px 1px;
    box-shadow: #f4f4f4;
    margin-bottom: 10px;
}
.competence h2 {
    margin-top: 5px;
}

.exp-professionalles {
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px 1px;
    box-shadow: #f4f4f4;
}

.formation {
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px 1px;
    box-shadow: #f4f4f4;
}
.form-container {
    height: 100%;
    box-shadow: 1px 1px 1px 1px;
    box-shadow: #f4f4f4;
}

.form-container label {
    margin-left: 10px;
    width: 96%;
}

.form-container input {
    margin-left: 10px;
    width: 95%;
}
.form-container textarea {
    margin-left: 10px;
    width: 96%;
}


.form-container button {
    background-color: blue;
    color: white;
    text-align: center;
    width: 97%;
    margin-left: 10px;
}
/* footer */
footer {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    background: blue;
    color: white;
    padding: 10px;
    text-align: center;
}


