*::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    border: 2px solid green;
    color: white;
}

main {
    display: flex;
    margin-top: 10px;
    height: 90%;
    
}

aside {
    width: 20%;
    height: 880px;
    margin-left: 200px;
    text-align: center;
    background: blueviolet;
    border: 1px solid red;
}
aside img {
    margin-top: 10px;
    border-radius: 100px;
    width: 100px;
    height: 100px;
}
aside p a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* section */
section {
    width: 40%;
    height: 880px;
    margin-left: 10px;
    background: yellow;
}

section h2 {
    color: blue;
    margin-left: 10px;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 15px;
}

section h3 {
    margin-left: 10px;
    font-size: 15px;
}

section p{
    margin-left: 10px;
}

.competence {
    border: 2px solid red;
}

.exp-professionalles {
    border: 2px solid green;
}

.formation {
    border: 2px solid magenta;
    height: 200px;
}

form {
    border: 2px solid mediumaquamarine;
    height: 8%;
}

form label {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 15px;
    margin-left: 10px;
}

form input {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 15px;
    margin-left: 10px;
}

form textarea {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 40px;
    margin-left: 10px;
}

form button{
    width: 96%;
    background-color: blue;
    margin-bottom: 10px;
    margin-left: 10px;
    color: white;
    font-size: 15px;
    margin-bottom: 5px;
}

/* footer */
footer {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    background: blue;
    color: white;
    padding: 10px;
    text-align: center;
}


