*::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    border: 2px solid green;
    color: white;
}

main {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
}

aside { 
    margin-left: 25%;
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 10px 10px 10px 10px gainsboro;
    border-radius: 1%;
}

aside img {
    text-align: center;
    border-radius: 100%;
    display: block;
    margin: 20px 50px;
    width: 50%;
}
aside h2 {
    margin-left: 10px;
}

aside address {
    margin-left: 10px;
}
aside p{
    margin-left: 10px;
}


/* section */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f4f4f4;
    background-color: white;
}

section h2 {
    color: blue;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}
section h3 {
    margin-left: 10px;
}

section p{
    margin-left: 10px;
}

.competence {
    padding-top: 20px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 10px 10px 10px 10px gainsboro;
    border-radius: 2%;
}


.exp-professionalles {
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 10px 10px 10px 10px gainsboro;
    border-radius: 2%;
}

.formation {
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 10px 10px 10px 10px gainsboro;
    border-radius: 2%;
}
.form-container {
    height: 100%;
    background-color: white;
    box-shadow: 10px 10px 10px 10px gainsboro;
    border-radius: 2%;
}

.form-container label {
    margin-left: 10px;
    width: 96%;
}

.form-container input {
    height: 30px;
    margin-left: 10px;
    width: 95%;
}
.form-container textarea {
    margin-left: 10px;
    width: 96%;
}


.form-container button {
    background-color: blue;
    color: white;
    text-align: center;
    width: 97%;
    margin-left: 10px;
}
/* footer */
footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background: blue;
    color: white;
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px){
    aside {
        width: 80%;
        background-color: red;
    }

}